*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #8BC34A;
    box-shadow: 0 0 0.2rem black;
}
.logo-container {
    padding: 7px 30px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    cursor: pointer;
}
.logo img{
    height: 25px;
    cursor: pointer;
}

.entrar-btn {
    padding: 10px 20px;
    background: #222E50;
    border: 0;
    border-radius: 16px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}
body{
    background-color: #111E3E;
}
.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #222E50;
    padding: 100px 20px;
    width: 590px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    position: absolute;
    top:55%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}


.escrever_comentario{
    left: 50px;
    top: 100px;
    cursor: relative;
    position: relative;
    font-size: 28px;
    color: #000000;
    background-color: #D9D9D9;
    border-radius: 16px;
    border: none;
    height: 40px;
    width: 140px;
    top: 35%;
    left: 40%;

}
.post{
    background-color: #2e3750;
    padding: 20px 250px;
    border-radius: 25px;
    position: relative;
    top: -50px;

    

}
.comentario{
    background-color: #3b4a72;
    padding: 20px 250px;
    border-radius: 25px;
}

