@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #111E3E;
}

header {
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: #8BC34A;
  box-shadow: 0 0 0.2rem black;
  max-width: 100%;
  height: 86px;
}

.logo-container {
  width: 124px;
  height: 50px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  position: relative;
  
}

.logo img {
  
  height: 36px;
  top: 90px;
}

.header-buttons {
  display: flex;
  align-items: center;
}

.entrar-btn {
  padding: 10px 20px;
  background: #222E50;
  border: 0;
  border-radius: 16px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  margin-left: 10px;
  font-family: Inter;
font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0em;
text-align: center;

}

.criar_conta-btn {
  padding: 10px 20px;
  background: #8BC34A;
  border: 0;
  border-radius: 16px;
  font-size: 16px;
  color: #111E3E;
  cursor: pointer;
  margin-left: auto;
  font-family: Inter;
font-size: 16px;
line-height: 19px;
letter-spacing: 0em;
text-align: center;
font-weight: bolder;

}

form {
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222E50;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  height: 600px;
  position: relative;
  top: 70px;
}

input {
  width: 100%;
  max-width: 320px;
  border: none;
  background:#D9D9D9;
  border-radius: 15px;
  padding: 1rem;
  font-weight: 750;
  margin-bottom: 30px;
  font-size: 16px;
  margin:0 auto 30px auto;
text-align: center;

}
.botao_mostrar{
  position: absolute;
  top: 16px;
  right: 10px;
  margin: 0;
}
.div_login{
  width: 320px;
  position: relative;
    
  
}

.user_photo {
  position:relative;
  padding: 50px;
  height:270px;
  top:10px;
  
}

.entrar-btn {
  width: 120px;
  height: 48px;
  
}
.criar_conta-btn{
  width: 130px;
}

.logar {
  width: 290px;
  height: 50px;
  border-radius: 15px;
  margin-top: 20px;
  background-color: #D9D9D9;
  font-family: Inter;
  font-size: 17px;
  font-weight: bold;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  border:none;
  color: #222E50;
  cursor: pointer;

}

.password-container {
  position: relative;
}



.esqueceu{
    font-family: Inter;
font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
color:#D9D9D9;
}

.botao_mostrar{
  position:absolute;
  top: 16px;
  border: 0ch;
  background-color: #D9D9D9;
  
}
.olho{
  width: 23px;
}

.icon_user{
  position:absolute;
  top: 319px;
  left: 135px;
  font-size: 27px;
  
}
.icon_lock{
  position:absolute;
  top: 8px;
  left: 17px;
  font-size: 27px;

}
