@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');


* {
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: #111E3E;
    position: relative;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #8BC34A;
    box-shadow: 0 0 0.2rem black;
    max-height: 40px;
    align-items: center;
}

.logo-container {
    height: auto;
    width: 100px;
    height: 40px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    cursor: pointer;
    margin-left: 1%;
}
.logo img{
    height: 25px;
    cursor: pointer;
}

.a-container {
    margin-top: 0.8%;
    margin-right: 1%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    gap: 20px;
}

.name {
    margin-bottom: 10px;
}

#user-photo {
    border-radius: 50%;
    max-height: 50px;
    position: relative;
    margin-bottom: 10px;
}

.button-logout {
    background-color: transparent;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
}

a {
    display: inline-block;
    text-decoration:none;
    color: white;
    font-weight: 700;
}

.feed{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    height: 100%;
    border: #1e2a49 solid 1px;
    margin-top: 80px;
    border-radius: 16px;
}

.btn-pub{
    margin: 20px;
    padding: 10px 20px;
    background: #8BC34A;
    border: 0;
    border-radius: 16px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

p {
    font-family: "Inter", sans-serif;
    color: rgb(231, 231, 231);
}

.text-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left: 40px;
    margin-bottom: 8px;
}

.post-container {
    border-radius: 16px;
    background-color: #1e2a49;
    margin: 10px;
    margin-inline: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}

.post-container:hover {
    background-color: #222f4e;
}

.post-info {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin: 15px;
}

.time {
    color: rgb(139, 139, 139);
    font-weight: normal;
}

.post-text p{
    font-weight: lighter;
    padding: 0 50px 20px 80px;
    text-align: justify;
    hyphens: auto;
}

.btn-comment {
    margin-bottom: 20px;
    left: 80px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.circle {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: transparent;
    opacity: 0;
    transition: 0.3s ease;
}

.btn-comment:hover .circle {
    opacity: 0.5;
    background-color: #65e8ff;
}

#comment {
    display: block;
    width: 100%;
    height: auto;
}
